<h1>Bookmarks</h1>
<%= link_to 'New Bookmark', new_bookmark_path %>

<div id="bookmarks">
  <% if @bookmarks.empty? %>
      No results
  <% else %>
      <%= render @bookmarks %>
  <% end %>
</div>
<div class="pagination-wrapper">
  <%= paginate @bookmarks %>
</div>
