<h1>Bookmarks</h1>
<%= link_to 'New Bookmark', new_bookmark_path %>

<table>
  <tbody>
    <% if @bookmarks.empty? %>
        No results
    <% end %>
    <%= render @bookmarks %>
  </tbody>
</table>
<%= paginate @bookmarks %>
